site_name: Junie's blog
site_author: JunieXD
site_url: https://juniexd.cn
repo_name: 'juniexd.github.io'
repo_url: https://github.com/JunieXD/juniexd.github.io/
copyright: Copyright &copy; 2025 JunieXD 
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  custom_dir: overrides
  favicon: assets/images/logo.png
  # 颜色
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: white
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: 切换至日间模式

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-night
        name: 切换至夜间模式
  #字体
  font: false
  #语言
  language: zh
  #特点
  features: 
    - navigation.instant
    - navigation.tracking   #地址栏中的 URL 将自动更新为在目录中突出显示的活动锚点
    - navigation.tabs   #顶级部分将呈现在上面视口标题下方的菜单层中，但在移动设备上保持原样
    - navigation.indexes
    - navigation.top   # 返回顶部的按钮 在上滑时出现

extra:
  generator: false  #删除页脚显示“使用 MkDocs 材料制造”
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/juniexd

  #disqus: JunieXD

markdown_extensions:
  - attr_list
  - md_in_html
  - nl2br
  - abbr
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - admonition
  - md_in_html
  - pymdownx.arithmatex:  # latex支持
      generic: true
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight: # 代码块高亮
      anchor_linenums: true
      # linenums: true # 显示行号
      # auto_title: true # 显示编程语言名称
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - meta

extra_javascript:
  - javascripts/mathjax.js
  - javascripts/polyfill.min.js
  - javascripts/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css
  - https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css
  - https://fonts.loli.net/css?family=JetBrains Mono:400,500,600,700&display=swap
  - https://fonts.loli.net/css2?family=Noto Sans SC&display=swap
  - https://fonts.loli.net/css2?family=Noto Serif SC:wght@500&display=swap
  - https://fonts.loli.net/css2?family=Libre Caslon Text:ital,wght@0,400;0,700;1,400&display=swap

plugins:
  - search
  - callouts

nav:
  - 首页:
    - index.md
  - 笔记:
    - notes/index.md
    - notes/git.md
  - 思考:
    - thoughts/index.md
    - thoughts/jyy.md
    - thoughts/PosgraRecExp.md
  - 留言板:
    - comments/index.md